/* HTML ELEMENTS */
body { font-size: 16px; margin:0; padding: 0; font-family: 'Open Sans', sans-serif; line-height: 1.6;}
h1 { margin:0; font-family: 'Lato', sans-serif;}


/*  COMPONENTS */

@media screen and (orientation:landscape) {

    /*.case {  margin-right: 33%; }
    .actions {  position: absolute; width: 30%; right: 0px; top: 80px; }*/
    .flexbox {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .actions { width: 350px;}
    .case { width: 650px;}
}

@media screen and (min-width: 1200px) {
    #root {
        width: 1100px;
        margin: auto;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.28)
    }

    .flexbox {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap

    }
    .actions {   width: 350px;}
}

#error_banner {
    position: fixed;
    background-color: rgba(247, 13, 13, 0.17);
    width: 100%;
    text-align: center;
    font-size: smaller;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.48);
    padding: 1px 0;
    display: none;
}

.screen {  animation-duration: 0.0s; animation-name: slidein_left;  display:none; }
.case {  }
.actions {  }

.case h2 {
    font-size: x-small;
    margin: 0;
    padding: 0;
    line-height: 1em;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.39);
}

.case p { margin-top: 5px; margin-bottom: 25px;}



.searchpanel {
    padding: 5px 20px;
    background-color: rgb(244, 244, 244);
    box-shadow: 5px 1px 17px rgba(128, 151, 169, 0.21);
    border: 1px solid #D7D7D6;
    margin-bottom: 300px;
}

.accent_header
{
    font-size: large;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(251, 251, 251) 96%,rgb(255, 255, 255) 100%);
    font-weight: bolder;
    text-transform: uppercase;
    color: cadetblue;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
@media screen and (orientation:portrait)
{
    .accent_header {  font-size: 12px;  }
    .accent_header td:first-of-type {  font-size: 18px;  }
}


.accent_header td {
    border-right: 1px solid lightgray;
    padding: 0 5px;
    vertical-align: top;
}

.accent_header .comfort-level-0 { color:green; }
.accent_header .comfort-level-1 { color:green; }
.accent_header .comfort-level-2 { color: #cfcf00; }
.accent_header .comfort-level-3 { color: #ce8100; }
.accent_header .comfort-level-4 { color: #7B1313; background-color: rgb(255, 132, 132); box-shadow: 0px 0px 39px #FF0707; }

.asset {
    display: inline-block;
    padding: 4px;
    box-shadow: 0px 1px 2px 0px #636363;
    margin-right: 10px;
}

.button {
    border: 1px solid #A0A0A0;
    display: inline-block;
    padding: 3px 10px;
    background-color: #FFE5B8;
    margin: 2px 0;
    margin-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    transition: width 1s, height 1s, background-color 1s;
}

.data_changed_mark { background-color: #D7F7BA; }

.disabled {
    opacity: 0.4;
    cursor: default;
}

.buttonbar {  background-color: #E6E6E6; }

.completetbutton_mod {  background-color: #EAF4F7;  font-size: large;  }
.header { font-size: x-large; }
.problem_title { color: #E39608; border-bottom: 1px dotted #B8B3B3;  cursor: pointer; }
/*.problem_title:hover {  font-weight: bold; }*/
.flash_highlight { transition: background-color 0.5s; animation-duration: 3s; animation-name: flash_highlight;  background-color: rgba(251, 255, 223, 0.64);}
.case p:hover .flash_highlight { background-color: rgba(251, 255, 223, 0.95); }
.largesearchbox {  font-size: x-large;  margin-top:10px; }
.comment {  font-style: italic; opacity: 0.5; }
.marked_comment { color: rgb(193, 148, 100);  font-size: small; font-weight: bold; }

.searchresult {
    background-color: white;
    margin: 5px 0;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
}

.searchresult:hover { background-color: #FFE5B8; }

.searchpanel .comment {
    color: gray;
    font-size: small;
}

.action_title_span { color: #C45D2E;  }

.form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    box-shadow: 2px 2px 10px #848484;
    border: 1px solid #909090;
}

.form .content {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; 
    user-select: none;   }

.form .contentblock {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-right: 1px dashed rgba(231, 154, 0, 0.17);
    width: 220px;
    font-size: smaller;
    background-color: rgba(235, 234, 233, 0.64);
    margin-top: 10px;
}

.form h1 { color: rgb(144, 0, 0); border-bottom: 7px solid rgb(144, 0, 0); }
.form .contentblock h2 {
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.22);
}

.dosetoggle {
    display: inline;
    margin-right: 7px;
    border-radius: 3px;
    background-color: #F9BF9D;
    padding: 0px 7px;
    user-select: none;
    -webkit-user-select: none;
}


.score {
    font-size: x-large;
    padding: 10px 20px;
    background-color: greenyellow;
    border-radius: 10px;
    display: inline-block;
    color: darkgreen;
    font-family: sans-serif;
    font-weight: bold;
}

.comparison_box {
    background-color: #FDF6E8;
    padding: 10px;
    border-radius: 5px;
}

.comparison_box h2 {
    margin: 0 0 10px 0;
}

.copyrightnote {
    position: fixed;
    right: 0; bottom: 0;
    font-size: x-small;
    color: rgba(86, 93, 115, 0.67);
}


.abnormal_mark {
    color: rgba(255, 0, 0, 0.71);
}

/* COMPONENT MODIFIERS */
.strikethrough { text-decoration: line-through; color: #CECCCC; }
.std_pad {  padding: 20px; }
.tiny { font-size: xx-small; }
.top_margin10px {  margin-top:10px; }
.topline {  margin-top: 10px; padding-top:10px; border-top: 1px dotted gray;  }
.red { background-color: rgb(249, 186, 186); }
.green_fore { color: rgb(30, 180, 19); }
.red_fore { color: rgb(180, 19, 19); }
.resize110x100 {  width: 100px;  height:100px; }
.clickable { cursor: pointer; }
.flash { animation-duration: 3s; animation-name: slidein;  }
.center { text-align: center; }
.textbox { text-align: justify; }
.noborder { border: 0; }
.faded { opacity: 0.3; }

.centercomplete {
    font-size: large;
    /* background-color: #EAEAEA; */
    padding: 40px;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 0px 1px 1px black; */
    /* border: 1px solid #D9D9D9; */
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%,-50%); */
    margin: 50px;
}

@media screen and (max-width: 800px) {
    .centercomplete {
        position: inherit;
        transform: none;
        margin:30px;
    }
}

/* ANIMATIONS */

@keyframes flash_highlight {
    from {
        background-color: rgb(253, 255, 163);
    }
    to {
        background-color: rgba(251, 255, 223, 0.64);
    }
}


@keyframes slidein {
    from {
        transform: translateY(20%)
    }
    to {
    }
}




